<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments :: head"></head>

<body>
  <header th:replace="fragments :: header"></header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 offset-md-4">
        <h3>Create ward</h3>
        <form th:action="@{/ui/wards/create}" th:object="${ward}" method="post">

          <div class="mb-3">
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="Name">
            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="headDoctorId" name="headDoctorId" th:field="*{headDoctorId}"
              placeholder="Head Doctor Id">
            <p th:if="${#fields.hasErrors('headDoctorId')}" class="text-danger" th:errors="*{headDoctorId}"></p>
          </div>

          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>