<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments :: head">
</head>

<body>
  <hearder th:replace="fragments :: header"></hearder>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <h1>Staff</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-primary" th:href="@{/ui/staff/create}">Create Staff</a>
      </div>
    </div>

    &nbsp;

    <div class="row" th:unless="${staff} and ${staff.size()}">
      <div class="col-sm-12">
        <div class="alert alert-danger">No staff</div>
      </div>
    </div>

    &nbsp;

    <div class="row" th:if="${staff.size() > 0}">
      <div class="col-sm-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">firstName</th>
              <th scope="col">lastName</th>
              <th scope="col">age</th>
              <th scope="col">number</th>
              <th scope="col">type</th>
              <th scope="col">ward id</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="staffMember : ${staff}">
              <td th:text="${staffMember.id}"></td>
              <td th:text="${staffMember.firstName}"></td>
              <td th:text="${staffMember.lastName}"></td>
              <td th:text="${staffMember.age}"></td>
              <td th:text="${staffMember.number}">
              <td th:text="${staffMember.type}">
              <td th:text="${staffMember.wardId}"></td>
              <td>
                <a class="btn btn-primary" th:href="@{/ui/staff/{id}/edit(id=${staffMember.id})}">Edit</a>
                &nbsp; &nbsp; &nbsp;
                <a class="btn btn-primary" th:href="@{/ui/staff/{id}/delete(id=${staffMember.id})}">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>