<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments :: head">
</head>

<body>
  <hearder th:replace="fragments :: header"></hearder>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <h1>Treatments</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-primary" th:href="@{/ui/treatments/create}">Create treatment</a>
      </div>
    </div>

    &nbsp;

    <div class="row" th:unless="${treatments} and ${treatments.size()}">
      <div class="col-sm-12">
        <div class="alert alert-danger">No treatments</div>
      </div>
    </div>

    &nbsp;

    <div class="row" th:if="${treatments.size() > 0}">
      <div class="col-sm-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">startDate</th>
              <th scope="col">endDate</th>
              <th scope="col">pricePerDay</th>
              <th scope="col">totalPrice</th>
              <th scope="col">patient id</th>
              <th scope="col">room id</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="treatment : ${treatments}">
              <td th:text="${treatment.id}"></td>
              <td th:text="${treatment.startDate}"></td>
              <td th:text="${treatment.endDate}"></td>
              <td th:text="${treatment.pricePerDay}"></td>
              <td th:text="${treatment.totalPrice}"></td>
              <td th:text="${treatment.patientId}"></td>
              <td th:text="${treatment.roomId}"></td>
              <td>
                <a class="btn btn-primary" th:href="@{/ui/treatments/{id}/edit(id=${treatment.id})}">Edit</a>
                &nbsp; &nbsp; &nbsp;
                <a class="btn btn-primary" th:href="@{/ui/treatments/{id}/delete(id=${treatment.id})}">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>